#Directories
.vs/
bin/
build/
CMakeFiles/
Debug/
MinSizeRel/
PBR-Example.dir
Release/
RelWithDebInfo/
x64/

#Files
**.vcxproj
**.filters
**.sln
**.dll
**.lib
**.pdb
**.user
**.cmake
CMakeCache.txt
**.ini
vendor/glfw/src/glfw_config.h